.index-root {
    background: linear-gradient(to bottom left, #27374Dff 0%, #526D82ff 100%);
    color: var(--nile-blue-50);
    margin: 0;
    background-color: #e5e5f7;
    background-color: #e9edf5;
    /*
    background: linear-gradient(135deg, #1b253655 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #1b2536 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #1b253655 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #1b2536 25%, #e9edf5 25%) 0px 0/ 20px 20px;
    */
}

/*-------------------------------------------Header---------------------------------------*/
.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 4rem;
}

.index-header img {
    height: 2rem;
}

.index-header-nav {
    display: flex;
    gap: 2rem;
}

a label {
    color: var(--nile-blue-50);
    padding: 0.5rem;
}

a label:hover {
    color: var(--nile-blue-500);
    cursor: pointer;
    border-bottom: 5px solid var(--nile-blue-500);
    transition: 0.2s;
}

.index-header button {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: var(--nile-blue-950);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.index-header button:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.index-header button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
}

/*-----------------------First section of the main page-------------------------*/
.index-main {
    display: flex;
    justify-content: center;
    height: 95vh;
}

.index-main-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 80vh;
}

.index-main-info h3 {
    color: var(--nile-blue-200);
    opacity: 70%;
    margin: 0;
}

.index-main-info h2 {
    color: var(--nile-blue-300);
    opacity: 50%;
    margin: 0;
}

.index-main-info h1 {
    color: var(--nile-blue-400);
    margin: 0;
    font-size: 3rem;
}

.index-main-info button {
    border: var(--nile-blue-100) 2px solid;
    background-color: var(--nile-blue-950);
    width: 10rem;
    height: 2rem;
    border-radius: 0.3rem;
}

.index-main-info button:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--nile-blue-800);
}

.index-main-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-main-img img {
    height: 50vh;
    border-radius: 50%;
}

.index-main-img button:hover {
    background-color: var(--nile-blue-900);
    cursor: pointer;
}

.slide-fwd-center img{
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
                transform: translateZ(160px);
    }
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
                transform: translateZ(160px);
    }
}


/*--------------------------------Titles and Lines-----------------------------*/
.section-title {
    margin: 6rem 0 1rem 0;
}

.line {
    background-color: var(--nile-blue-950);
    margin-bottom: 4rem;
    opacity: 80%;
    height: 2px;
    width: 6rem;
}

/*-----------------Second section for the personal information-------------------*/
.index-personal-info {
    background-color: var(--nile-blue-100);
    color: var(--nile-blue-950);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.index-personal-info-container {
    display: flex;
    align-items: center;
    padding: 0 0 2rem 0;
    gap: 2rem;
}

.index-personal-info-container p {
    font-size: 1.5rem;
}

.index-personal-info-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0 5rem 0;
}

.index-personal-info-detail img {
    height: 40vh;
}

.index-personal-info-detail-text {
    width: 50vh;
}

/*-------------------Third section for the projects---------------------*/
.index-mywork-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-mywork-services {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.index-mywork-services-card {
    background-color: var(--nile-blue-100);
    color: var(--nile-blue-900);
    border-radius: 1rem;
    padding: 1em 1em 0 1em;
    width: 18rem;
}

.index-mywork-services-card img {
    width: 18rem;
}

.index-mywork-services-card-text {
    padding: 0.5rem;
    overflow: hidden;
}

/*--------------------------------Work Experience-------------------------*/
.index-work-experience {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.index-work-experience-card {
    background-color: var(--nile-blue-100);
    color: var(--nile-blue-950);
    text-justify: distribute;
    border-radius: 1rem;
    width: 16rem;
    padding: 1rem;
}

/*----------------------------------Tecnologies----------------------------------*/
.index-tecnologies {
    max-width: 60rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.index-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-logo-container img {
    height: 6rem;
}

/*---------------------------------Project Cards--------------------------------*/
.index-portfolio {
    display: flex;
    position: relative;
    gap: 1rem;
}

.index-project-card {
    display: flex;
    border-radius: 1rem;
    height: 18rem;
    width: 27rem;
}

.index-project-card:hover {
    transition: 0.3s;
    scale: 1.02;
}

.index-project-card h3 {
    color: var(--nile-blue-50);
    margin: 0 0 0.5rem 1rem;
    align-self: flex-end;

}

.restaurant {
    background: local no-repeat top left url(../../assets/restaurant/ssRestaurant.png);
    background-size: 100vh;
}

/*-----------------------------------Carousel-----------------------------------*/
@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.index-portfolio>.index-project-card {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

.index-project-card:nth-child(2) {
    animation-delay: 2s;
}

.index-project-card:nth-child(3) {
    animation-delay: 4s;
}

.index-project-card:nth-child(4) {
    animation-delay: 6s;
}

.index-project-card:nth-child(5) {
    animation-delay: 8s;
}

/*----------------------------------Foot page-----------------------------------*/
.index-footpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nile-blue-950);
    color: var(--nile-blue-50);
    height: 10rem;
    margin: 4rem 0 0 0;
    padding: 0 2rem;
}

.index-footpage img {
    height: 5rem;
}

.index-footpage-social a {
    color: var(--nile-blue-50);
    margin-left: 1rem;
}

.index-footpage-social a:hover {
    transition: 0.3s;
    color: var(--nile-blue-500);
}

/*-----------------------------------Media Querys-------------------------------*/
@media screen and (max-width: 480px) {
    :root {
        font-size: 20px;
    }

    body {
        width: 90vh;
    }

    .index-header {
        display: none;
    }

    .index-main {
        max-width: 80vh;
        flex-direction: column;
        height: 180vh;
        padding: 1em;
        gap: 2rem;
        font-size: 4vh;
    }

    .index-personal-info-container {
        flex-direction: column;
    }

    .index-personal-info-detail,
    .index-mywork-services {
        flex-direction: column;
        gap: 2rem;
    }

    .index-work-experience,
    .index-portfolio {
        flex-direction: column;
    }

    .index-tecnologies {
        max-width: 13rem;
    }

    .index-project-card {
        flex-direction: column;
        width: 80vh;
    }

    .index-footpage {
        flex-direction: column;
        padding: 1rem 0;
    }

    .index-footpage>img {
        width: 20rem;
    }
}

/*------------------------------------------------Pruebas-------------------------------------------------*/
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    opacity: 0;
    /* Inicialmente la caja es invisible */
    transition: opacity 1s ease;
    /* Transición para la animación */
}

.container.show .box {
    opacity: 1;
    /* Cuando se aplica esta clase al contenedor, la caja se hace visible */
}