.restaurant-root{
    background-color: var(--white);
    color: var(--dark-green);
    width: 100%;
}

.restaurant-home{
    background:url(../assets/restaurant/lily-banse--YHSwy6uqvk-unsplash.jpg) local no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: top;
    padding: 0  0;
    height: 100vh;
    gap: 5rem;
    overflow: hidden;
}

.restaurant-home-description{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--dark-green));
    color: var(--white);
    height: 95vh;
    width: 20rem;
    padding: 2rem 3rem 2rem 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.menu-title{
    margin-left: auto;
}

.restaurant-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
}

.restaurant-contact{
    background-color: var(--dark-green);
    color: var(--white);
    padding: 1rem;
}