.weatherApp-root{
    background-color: var(--ebony-950);
    padding: 1rem;
}

.weather-card{
    border: var(--ebony-50) 2px solid;
    border-radius: 2rem;
    padding: 1rem;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-card h3, .weather-card h4{
    margin: 0;
}

.weather-location-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
