@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
    font-family: "Press Start 2P&dispaly", serif;
    
    --white: #f2f7f5;
    --dark-green: #00473e;
    --light-back: #475d5b;
    --yellow: #faae2b;
    --light-pink: #ffa8ba;
    --light-red: #fa5246;
    --ebony-50: #e8f0ff;
    --ebony-100: #d5e4ff;
    --ebony-200: #b3cbff;
    --ebony-300: #86a8ff;
    --ebony-400: #5774ff;
    --ebony-500: #3042ff;
    --ebony-600: #0e0dff;
    --ebony-700: #0704fe;
    --ebony-800: #0707cc;
    --ebony-900: #10139f;
    --ebony-950: #03031c;

    --nile-blue-50 : #f4f7fb;
    --nile-blue-100: #e9edf5;
    --nile-blue-200: #cedae9;
    --nile-blue-300: #a3bbd6;
    --nile-blue-400: #7196bf;
    --nile-blue-500: #4f79a8;
    --nile-blue-600: #3c608d;
    --nile-blue-700: #324d72;
    --nile-blue-800: #2c4360;
    --nile-blue-900: #27374d;
    --nile-blue-950: #1b2536;
}

body{
    margin: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}